<!DOCTYPE html>
<html>
  <head>
    <title>Connected Fridge</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Connected Fridge</h1>
    <p>Welcome to Connected Fridge Backend</p>
  </body>
</html>
